/* Základní styly */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #f9f6ee;
}
/* Styly pro nadpisy */
h1, h2, h3 {
    font-weight: normal;
    color: #000;
    text-align: center;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
/* Styly pro hlavičku */
header {
    background-color: #f9f6ee;
    padding: 20px;
    text-align: center;
}
    header h1 {
        margin: 0;
        font-size: 48px;
        color: #000;
    }
    header p {
        margin-top: 5px;
        color: #000;
    }
/* Styly pro sekce */
.section-header {
    text-align: center;
    margin-bottom: 10px;
}
.section-content {
    display: flex;
    justify-content: space-between;
}
section {
    margin: 20px;
}
/* Styly pro články */
article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 1;
    margin-right: 20px;
}
    article:last-child {
        margin-right: 0;
    }
    article h3 {
        margin-top: 0;
        font-size: 40px;
        color: #000;
    }
    article p {
        font-size: 18px;
    }
/* Styly pro postranní panel */
aside {
    margin: 20px;
}
/* Styly pro zápatí */
footer {
    background-color: #f9f6ee;
    padding: 20px;
    text-align: center;
    color: #000;
}
    footer h2 {
        font-size: 48px;
        margin-top: 0;
        color: #000;
    }
    footer p {
        font-size: 18px;
    }
/* Dodatečné styly */
p:last-of-type {
    margin-bottom: 0;
}
time {
    font-style: italic;
}
/* Styly pro obalový prvek */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Responzivní styly pro malé obrazovky */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 32px;
    }
    header {
        padding: 10px;
    }
    section {
        margin: 10px;
    }
    article {
        padding: 10px;
        margin-bottom: 10px;
    }
    footer {
        padding: 10px;
    }
}
